@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 5px;
  height: 100vh;
  display: flex;
  flex: 1;
}

.root {
  @apply flex flex-col flex-1 p-10 gap-2;
}

form {
  @apply flex flex-col gap-2;
}

button {
  @apply cursor-pointer text-base text-white p-2 rounded-md transition-all duration-300 bg-blue-500 hover:bg-blue-700;
}

button:disabled {
  @apply cursor-not-allowed bg-gray-500;
}

.success {
  @apply bg-green-500 text-white p-2 rounded-md text-base text-center;
}

.error {
  @apply bg-red-500 text-white px-2 py-2 rounded-md text-base text-center;
}

.product-col {
  @apply flex flex-col gap-2 w-full max-w-96;
}

.product-row {
  @apply flex flex-row gap-2 w-full max-w-96;
}

img {
  @apply rounded-md border-slate-500 border-2;
}