body {
  font-family: monospace;
  font-size: 2rem;
}

input {
  font-size: 2rem;
  font-family: monospace;
  text-align: center;
  width: 10rem;
  margin-bottom: 20px;
}

button {
  font-size: 2rem;
  font-family: monospace;
  cursor: pointer;
}