@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: monospace;
  font-size: 2rem;
  padding: 2rem;
}

button {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px;
  padding: .5rem 2rem;
  height: 4rem;

  border: 2px solid black;
  border-radius: 8px;

  background-color: rgb(0, 157, 255);
}

button:disabled {
  background-color: rgb(173, 228, 255);
  opacity: 0.5;
  color: rgb(16, 16, 16);
  cursor: not-allowed;
}